<form action="<%= user_url(@user) %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PUT">
  <label>Short Bio:
    <input type="text" name="user[short_bio]" value="<%= @user.short_bio %>"><br>
  </label>
  <label>Long Bio:<br>
    <textarea name="user[long_bio]"><%= @user.long_bio %></textarea><br>
  </label>
  <label>Email Address:
    <input type="text" name="user[email]" value="<%= @user.email %>"><br>
  </label>
  <input type="submit" value="Update Profile!">
</form>