<style>
.current-video{
  background-color:#ffff00;
}
</style>

<h1><%= @video.title %></h1>
THIS IS WHERE THE VIDEO WILL GO AGAIN
<%#= render 'partials/embed_static' %>
<hr>
<%#= @test %>
<hr>
<%#= render 'partials/new_comment', parent_id: nil, button_text: "Comment" %>
<%#= render '/partials/comments', key: nil %>

<div class="comments-container"></div>
<hr>
<% @videos.each do |video| %>
  <div class="<%= (video.id == @video.id) ? "current-video" : "" %>">
    <h2><%= video.title %></h2>
    <%= "<a href=#{video_url(video.id)} ><img src=#{h(video.thumbnail_url)} height=63 width=112></a>".html_safe %>
    <%= video.description %>
  </div>
<% end %>
<script type="application/json" id="bootstrapped_comments">
{<% comments = @video.comments %>
  "COMMENTS": <%= comments.to_json.html_safe %>,
  "COMMENTS_BY_PARENT_ID": <%= @video.comments_by_parent_id.to_json.html_safe %>,
  "PAGES": <%= comments.map{ |x| Page.find_by_user_id(x.user_id).logo_url}.to_json.html_safe %>,
  "USERS": <%= comments.map{ |x| User.find(x.user_id).username }.to_json.html_safe %>,
  "MODERATORS": <%= User.find(@video.user_id).page.moderators.to_json.html_safe %>
}
</script>
<script>
$(document).ready(function(){
  //get some bootstrapped data!!
  var data = JSON.parse($("#bootstrapped_comments").html());
  videoId = <%= @video.id %>
  TwitchClone.Collections.comments = new TwitchClone.Collections.Comments(data["COMMENTS"]);
  TwitchClone.Collections.comments.each(function(comment, index){
    comment.set({
      username: data["USERS"][index],
      page_logo_url: data["PAGES"][index]
    })
  });
  TwitchClone.Views.commentsIndex = new TwitchClone.Views.CommentsIndex({
    $el: $(".comments-container"),
    collection: TwitchClone.Collections.comments,
    comments_by_parent_id: data["COMMENTS_BY_PARENT_ID"],
    moderators: data["MODERATORS"]
  });
  TwitchClone.Views.commentsIndex.render();
});
</script>