<form action="<%= page_url(@page) %>" method="POST" class="page-edit-form">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PUT">
  Logo Image Url:<input type="text" name="page[logo_url]" value="<%= @page.logo_url %>"><br>
  Background Image Url:<input type="text" name="page[background_url]" value="<%= @page.background_url %>"><br>
  Profile Banner Image Url:<input type="text" name="page[banner_url]" value="<%= @page.banner_url %>"><br>
  Offline Video Background Url:<input type="text" name="page[video_bg_url]" value="<%= @page.banner_url %>">
  <br><br><br><br>

  <div class="editable-containers">
    <% @containers.each_with_index do |container, i| %>
      <div class="single-container">
        Link to image:<input type="text" name="container[<%= i %>][image_url]" value="<%= container.image_url %>"><br>
        Image links to:<input type="text" name="container[<%= i %>][image_url_link]" value="<%= container.image_url_link %>"><br>
        Body: <br><textarea name="container[<%= i %>][body]"><%= container.body %></textarea><br>
        <button class="remove-container" data-id="<%= container.id %>">Remove!</button><br><hr>
      </div>
    <% end %>
  </div>
  <div class="new-editable-containers">
  </div>

  <div class="new-container-button">
    <button class="add-container">Add Container!</button><br><br>
  </div>



  <input type="submit" value="Update Page!">
</form>
<div style="display:none" class="temp-container">
  <div class="side-containers">
    <%= render "partials/containers" %>
  </div>

</div>
<div style="display:none" class="crud-demo">
  <h2>Create/Read/Update/Destroy Demo</h2>
  <p>
    You are logged in as a test user.  You can use this edit page to modify the contents
    of this user's page! All CRUD actions can be done here!<br>
    <a href="#" class="light-box-link pseudo-button">OK</a>
  </p>
</div>
<script id="page-edit-demo">
$(document).ready(function(){
  var fullUrl = window.location + "";
  var idx = fullUrl.lastIndexOf("#");
  if (idx >= 0){
    var demo = fullUrl.substring(idx+1);
    if (demo == "crud"){
      var $body = $("body");
      $body.on("click","a.light-box-link",function(event){
        event.preventDefault();
        $(".dark-overlay").remove();
        $(".light-box").remove();
      })
      $body.append("<div class='dark-overlay'></div>");
      $body.append("<div class='light-box'></div>");
      $(".light-box").append($(".crud-demo").html());

    }
  }

});
</script>
<script>
  $(document).ready(function(){
    var rightSide = $(".temp-container").html();
    $(".2-wrapper").html(rightSide);
    $(".right-sidebar-buttons-wrapper a.a-other").text("Info");

    $(".single-container").on("click", "button", function(event){
      event.preventDefault();
      var $button = $(event.currentTarget);
      var $div = $button.closest("div");
      var containerId = $button.attr("data-id");
      $div.html("");
      $.ajax({
        type:"DELETE",
        url:"/containers/" + containerId,
        success: function(resp){

        }
      })

    })

    var n = 0;
    $(".new-container-button").on("click","button",function(event){
      event.preventDefault();
      var renderedContent = JST['new_container_form']({num: n});
      $(".new-editable-containers").append(renderedContent)
      n++;
    });
    $(".new-editable-containers").on("click","button",function(event){
      event.preventDefault();
      $(event.currentTarget).closest("div").html("");
    })

  });
</script>