<style>
  div.bg-test{
    position:fixed;
    top:0;
    left:240px;
    height:100%;
    width:100%;
    <% if !!@page.background_url && @page.background_url != "" %>
      background:<%= " url(#{@page.background_url}) no-repeat ".html_safe %>;
    <% else %>
      background: #cccccc;
    <% end %>
    background-size:70%;
    opacity: 0.5;
  }
  div.not-bg{
    position:relative;
    z-index:1;
  }
</style>
<div class="bg-test"></div>
<div class="not-bg">
  <header class="page-show-header group">
    <% imgsrc = @page.logo %>
    <%= "<img src=#{h(imgsrc)} height=80 width=80 class='user-logo'>".html_safe %>
    <h2 class="page-show-title"><%= h(@user.username) %>'s Show Page</h2>
  </header>
  <%= render "partials/follow", {
    user: @user,
    follows: @follows,
  } %>
<section class="group">
  <% @containers.each do |container| %>
  <div class="container">
    <% if !!container.image_url %>

      <% ahref = (container.image_url_link != "" && !!container.image_url_link) ? container.image_url_link : "#" %>

      <%= "<a href=#{h(ahref)} ><img src=#{h(container.image_url)}></a><br>".html_safe %>
    <% end %>
    <%= Maruku.new(h(container.body)).to_html.html_safe %><br>
  </div>
  <% end %>
</section>
  <%= link_to("Edit", edit_page_url(@user.username)) if @user.username == current_user.username %>
</div>