<style>
  button.follow{
    display:block;
  }
  button.unfollow{
    display:block;
  }
  div.can-follow button.unfollow{
    display:none;
  }
  div.can-unfollow button.follow{
    display:none;
  }
</style>
<img class="page-show-bg"></img>
<div class="gradient"></div>
<!-- <div class="bg-test"></div> -->
<div class="not-bg">
  <header class="page-show-header group">
    <% imgsrc = @page.logo %>
    <%= "<img src=#{h(imgsrc)} height=80 width=80 class='user-logo'>".html_safe %>
    <% if !!@page.stream_title && @page.stream_title != "" %>
      <h2 class="page-show-title"><%= h(@page.stream_title) %></h2>
    <% else %>
      <h2 class="page-show-title"><%= h(@user.username) %>'s Show Page</h2>
    <% end %>
  </header>
    <%= render "partials/embed_live" %>
    <div class="sub-video-buttons-wrapper">
      <div class="follow-button-container"></div>
      <div class="subscribe-button-container"></div>
      <%= render "partials/tweet" %>
    </div>

<section class="group container-section">
  <% @containers.each do |container| %>
    <div class="container">
      <% if !!container.image_url %>

        <% ahref = (container.image_url_link != "" && !!container.image_url_link) ? container.image_url_link : "#" %>

        <%= "<a href=#{h(ahref)} ><img src=#{h(container.image_url)}></a><br>".html_safe %>
      <% end %>
      <%= Maruku.new(h(container.body)).to_html.html_safe %><br>
    </div>
  <% end %>
</section>
  <% if !!@user && !!current_user %>
    <%= link_to("Edit", edit_page_url(@user.username)) if @user.username == current_user.username %>
  <% end %>
</div>

<script>
$(document).ready(function(){
  var $canvas = $(".page-show-bg");
  var $gradient = $(".gradient");
  if (CURRENT_USER_ID === <%= @page.user_id %>){
    $(".follow-button-container").css("display","none")
  }
  var resizeFun = function() {
    var width = $(".main-content").width();
    var $containerWrapper = $(".container-section")
    $canvas.css("top",-10);
    $gradient.css("width",$canvas.css("width"));
    $gradient.css("height","100%");
    var n = 1;
    while (width/(n*350) > 1){
      n++;
    }
    if (n >= 2){
      $containerWrapper.width(350*(n-1))
    }
    $containerWrapper.css("margin","auto");
    var marginLeftString = $containerWrapper.css("margin-left");
    var marginLeft = marginLeftString.substring(0,marginLeftString.length-2)*1;
    $containerWrapper.css("margin-left",marginLeft-15 + "px");
  }

  resizeFun();

  $( window ).resize(resizeFun);

  <% if !!@page.background_url && @page.background_url != "" %>
    //$canvas.attr("image","<%= @page.background_url %>");
    $canvas.css("width","100%");
    $canvas.css("height","auto");
    $canvas.css("top",-10);
    $gradient.css("width",$canvas.css("width"));
    $gradient.css("height","100%");
    console.log($canvas.css("height"))
    //$canvas.css("background-image","url('<%= @page.background_url %>')");
    $canvas.attr("src",'<%= @page.background_url %>');
    // $canvas.css("background-repeat","no-repeat");
//     $canvas.css("background-position","50% 0%");
    $canvas.css("opacity",0.5);
  <% end %>

  //backbone stuff for follow button AND subscribe button?
  if (CURRENT_USER_ID){
    var $subButtonDiv = $(".subscribe-button-container");
    $subButtonDiv.html("<button class=subscribe >Subscribe!</button>")
    $subButtonDiv.on("click","button",function(event){
      event.preventDefault();
      $.ajax({
        type:"POST",
        url:"pages/<%= @page.id %>/subscription",
        data:{ user_id: CURRENT_USER_ID },
        success: function(resp){
          console.log(resp);
        }
      })
    });

    var fol = TwitchClone.Collections.follows.findWhere({id: <%= @user.id %>})
    if (fol){
      TwitchClone.Views.followsForm = new TwitchClone.Views.FollowsForm({
        "$el": $(".follow-button-container"),
        "followeeId": <%= @user.id %>,
        "followClass": "unfollow"
      });
    } else {
      TwitchClone.Views.followsForm = new TwitchClone.Views.FollowsForm({
        "$el": $(".follow-button-container"),
        "followeeId": <%= @user.id %>,
        "followClass": "follow"
      });
    }
    TwitchClone.Views.followsForm.render();
    //$(".follow-button-container").html(TwitchClone.Views.followsForm.render().$el);
  }
});
</script>