<style>
  div.bg-test{
    position:fixed;
    top:0;
    left:240px;
    height:100%;
    width:100%;
    <% if !!@page.background_url && @page.background_url != "" %>
      background:<%= " url('#{@page.background_url}') no-repeat ".html_safe %>;
    <% else %>
      background: #cccccc;
    <% end %>
    background-size:70%;
    opacity: 0.5;
  }
  div.not-bg{
    position:relative;
    z-index:1;
  }
  button.follow{
    display:block;
  }
  button.unfollow{
    display:block;
  }
  div.can-follow button.unfollow{
    display:none;
  }
  div.can-unfollow button.follow{
    display:none;
  }
</style>
<div class="bg-test"></div>
<div class="not-bg">
  <header class="page-show-header group">
    <% imgsrc = @page.logo %>
    <%= "<img src=#{h(imgsrc)} height=80 width=80 class='user-logo'>".html_safe %>
    <% if !!@page.stream_title && @page.stream_title != "" %>
      <h2 class="page-show-title"><%= h(@page.stream_title) %></h2>
    <% else %>
      <h2 class="page-show-title"><%= h(@user.username) %>'s Show Page</h2>
    <% end %>
  </header>
  <%= render "partials/embed_live" %>
  <div class="follow-button-container"></div>
  <%#= render "partials/follow", {
    user: @user,
    follows: @follows,
  } %>
  <%= render "partials/tweet" %>
<section class="group container-section">
  <% @containers.each do |container| %>
  <div class="container">
    <% if !!container.image_url %>

      <% ahref = (container.image_url_link != "" && !!container.image_url_link) ? container.image_url_link : "#" %>

      <%= "<a href=#{h(ahref)} ><img src=#{h(container.image_url)}></a><br>".html_safe %>
    <% end %>
    <%= Maruku.new(h(container.body)).to_html.html_safe %><br>
  </div>
  <% end %>
</section>
  <% if !!@user && !!current_user %>
    <%= link_to("Edit", edit_page_url(@user.username)) if @user.username == current_user.username %>
  <% end %>
</div>

<script>
$(document).ready(function(){
  if (CURRENT_USER_ID){
    var fol = TwitchClone.Collections.follows.findWhere({id: <%= @user.id %>})
    if (fol){
      TwitchClone.Views.followsForm = new TwitchClone.Views.FollowsForm({
        "$el": $(".follow-button-container"),
        "followeeId": <%= @user.id %>,
        "followClass": "unfollow"
      });
    } else {
      TwitchClone.Views.followsForm = new TwitchClone.Views.FollowsForm({
        "$el": $(".follow-button-container"),
        "followeeId": <%= @user.id %>,
        "followClass": "follow"
      });
    }
    TwitchClone.Views.followsForm.render();
    //$(".follow-button-container").html(TwitchClone.Views.followsForm.render().$el);
  }
});
</script>