<% if (check_id === null){ %>
  <div class="newCommentBox">
    <textarea class="taNew" name="body" placeholder="write your comment here" cols=80 rows=4></textarea>
    <button class="newCommentButton">Make Comment!</button>
  </div>
<% } %>
<% roots = comments.where({parent_id: check_id}) %>
<ul>
<% _.each(roots, function(comment, index){ %>
  <% liClass = (expandedComments.indexOf(comment.id) >= 0) ? "expanded" : "collapsed" %>
  <% aText = (expandedComments.indexOf(comment.id) >= 0) ? "-" : "+" %>
  <li id="comment-<%= comment.id %>" data-id="<%= comment.id %>" class="<%= liClass %>">
    <div class="comment-area">
    <% if (comments_by_parent_id[comment.id]){ %>
      <a class="exp-col" href="#"><%= aText %></a>
    <% } else { %>
      <p>.</p>
    <% } %>
      <% var imgSrc = "http://upload.wikimedia.org/wikipedia/commons/a/a4/Socrates_Louvre.jpg" %>
      <% imgSrc = comment.escape("page_logo_url") ? comment.escape("page_logo_url") : imgSrc %>
      <img src="<%= imgSrc %>" height=40 width=40>
      <div class="comment-body">
        <div class="comment-info">
          <b><%= comment.get("username") + ": " %></b>
          <a href="#" class="reply">(reply)</a>
          <% if(moderators.indexOf(CURRENT_USER_ID) >= 0 || comment.escape("user_id") == CURRENT_USER_ID){ %>
            <a href="#" class="deleteComment">(delete)</a>
          <% } %>
        </div>
        <div class="comment-text"><%= comment.escape("body") %></div>
      </div>
    </div>
    <div class="replyBox replyBox-<%= comment.id %>">
      <textarea class="ta-<%= comment.id %>" name="body" placeholder="write your reply here" cols=80 rows=4></textarea>
      <button class="replyButton" data-id="<%= comment.id %>">Reply!</button>
    </div>
  <% if (comments_by_parent_id[comment.id]){ %>
    <%= JST["comments_index"]({ comments: comments, check_id: comment.id, comments_by_parent_id: comments_by_parent_id, expandedComments: expandedComments, moderators: moderators }) %>
  <% } %>
  </li>
<% }) %>
</ul>