<!DOCTYPE html>
<html>
<head>
  <title>TwitchClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script type="application/json" id="bootstrapped_current_user_json">
    {
      "CURRENT_USER_ID": <%= (!!current_user) ? current_user.id.to_json.html_safe : 0 %>,
      "FOLLOWS": <%= (!!current_user) ? current_user.follows.to_json.html_safe : [].to_json.html_safe %>
    }
  </script>
  <div class="left-sidebar">
    <%= current_user.username if !!current_user %>
    <%= button_to("Log Out!", session_url, method: :delete) if !!current_user %>

    <% if !!current_user %>
      <h3>Follows</h3>
      <div class="follows-area"></div>
      <%#= render "partials/follows_and_followers" %>
      <h3>Links</h3>
      <ul>
        <li><a href="<%= user_show_url(current_user.username) %>">My Profile</a></li>
        <li><a href="<%= page_show_url(current_user.username) %>">My Page</a></li>
        <li><a href="<%= videos_url(current_user.username) %>">My videos</a></li>
      </ul>
    <% else #no current user!! %>
      <%= render "partials/new_session" %>
      <%= render "partials/new_user" %>
    <% end %>
  </div>

  <div class="main-content">
    <%= flash[:error] || flash[:success] %>
    <%= yield %>
    <%#= @streams_info %>
  </div>

  <div class="right-sidebar"></div>
</body>
</html>
