<!DOCTYPE html>
<html>
<head>
  <title>TwitchClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="left-sidebar">
    <%= flash[:error] %>
    <%= current_user.username if !!current_user %>
    <%= button_to("Log Out!", session_url, method: :delete) if !!current_user %>

    <% if !!current_user %>
      <h3>Follows</h3>
      <ul>
      <% current_user.follows.each do |follow| %>
        <div class="follow-area">
          <a href="<%= page_show_url(follow.username) %>">
            <%= "<img style='border:3px solid black;' src=#{Page.find_by_user_id(follow.id).logo} height=30 width=30>".html_safe %>
            <div class="follow-name">
            <li title="<%= h(follow.short_bio) %>"><%= h(follow.username) %></li>
            </div>
          </a>
        </div>
      <% end %>
      </ul>
      <h3>Followers</h3>
      <ul>
      <% current_user.followers.each do |follower| %>
        <div class="follow-area">
          <a href="<%= page_show_url(follower.username) %>">
            <%= "<img style='border:3px solid black;' src=#{Page.find_by_user_id(follower.id).logo} height=30 width=30>".html_safe %>
            <div class="follow-name">
              <li title="<%= h(follower.short_bio) %>"><%= h(follower.username) %></li>
            </div>
          </a>
        </div>
      <% end %>
      </ul>
    <% else %>
      <%= render "partials/new_session" %>
      <%= render "partials/new_user" %>
    <% end %>
  </div>

  <div class="main-content">
    <%= yield %>
  </div>

  <div class="right-sidebar"></div>

</body>
</html>
