<!DOCTYPE html>
<html>
<head>
  <title>TwitchClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/ui-darkness/jquery-ui.css">

  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script type="application/json" id="bootstrapped_current_user_json">
  <% follows = (!!current_user) ? current_user.get_follows : [] %>
    {
      "CURRENT_USER_ID": <%= (!!current_user) ? current_user.id.to_json.html_safe : 0 %>,
      "FOLLOWS": <%= (!!current_user) ? follows.to_json.html_safe : [].to_json.html_safe %>,
      "SORT_PRIORITY": <%= (!!current_user) ? current_user.get_follows_objects.to_json.html_safe : [] %>,
      "PAGES": <%= (!!current_user) ? follows.map{ |x| x.page }.to_json.html_safe : [] %>
    }
  </script>
  <div class="left-sidebar">
    <div class="top-left">
      <div class="user-name">
        <%= current_user.username if !!current_user %>
      </div>
      <div class="logout">
        <%= button_to("Log Out!", session_url, method: :delete) if !!current_user %>
      </div>
    </div>

    <div class="accordion">
      <% if !!current_user %>

          <h3>Followings</h3>
          <div class="follows-area"></div>
          <%#= render "partials/follows_and_followers" %>
          <h3>Links</h3>
          <ul>
            <li><a href="<%= user_show_url(current_user.username) %>">My Profile</a></li>
            <li><a href="<%= page_show_url(current_user.username) %>">My Page</a></li>
            <li><a href="<%= user_stream_url(current_user.username) %>">My Streaming</a></li>
          </ul>

      <% else #no current user!! %>
        <%= render "partials/new_session" %>
        <%= render "partials/new_user" %>
      <% end %>
      <h3>Featured</h3>
      <div class="featured-area"></div>
    </div>
    <button class="demo-button pseudo-button" title="log in with a demo account">Demo!!</button>
  </div>

  <div class="main-content">
    <%= flash[:error] || flash[:success] %>
    <div class="side-hider group">
      <div class="side-hider-left"><a data-id="left" href="#">hide</a></div>
      <div class="side-hider-right"><a data-id="right" href="#">hide</a></div>
    </div>
    <%= yield %>
    <%#= @streams_info %>
    <div class="notifications group"></div>
  </div>


  <div class="right-sidebar">
    <div class="right-sidebar-buttons">
      <div class="right-sidebar-buttons-wrapper">
        <a href="#" data-id="1" class="current-tab a-chat">Chat</a>
        <a href="#" data-id="2" class="a-other ">?</a>
      </div>
    </div>
    <div class="1-wrapper">
      <div class="chat-window">
        <div id="chat-user-show" class="chat-show-no"></div>
      </div>
      <div class="chat-text-box">
        <textarea class="chat-textarea" name="chat[text]" placeholder="type your message here"></textarea>
        <button class="chat-button pseudo-button">Chat!</button>
      </div>
    </div>
    <div class="2-wrapper" style="display:none;">
      WOOO!!!
    </div>
  </div>
  <script src="http://js.pusher.com/2.1/pusher.min.js"></script>
  <script>


    $(document).ready(function(){
      var data = JSON.parse($("#bootstrapped_current_user_json").html());
      var CURRENT_USER_ID = data["CURRENT_USER_ID"];

      var $gradient = $(".gradient");
      var resizeFun = function() {
        var width = $(".main-content").width();
        $gradient.css("width",width+100);
        $gradient.css("height","100%");
        var height = $(".left-sidebar").height();
        $(".chat-window").css("height",height-180);
        $(".side-containers").css("height",height-50);
        var $mainContent = $(".main-content");
        var windowHeight = $(window).height();
        if ($mainContent.height() < windowHeight){
          $mainContent.css("height",windowHeight);
        }
      }

      $(".right-sidebar-buttons-wrapper").on("click","a",function(event){
        event.preventDefault();
        var $a = $(event.currentTarget);
        $(".right-sidebar-buttons-wrapper a").removeClass("current-tab");
        $a.addClass("current-tab");
        var clickClass = $a.attr("data-id")*1;
        $("." + clickClass + "-wrapper").css("display","block");
        $("." + (clickClass+1)%2 + "-wrapper").css("display","none");
      })

      resizeFun();

      $(window).resize(resizeFun);

      $(".side-hider").on("click","a",function(event){
        event.preventDefault();
        resizeFun();
        //refactor using addClass and removeClass!!!!!
        var $canvas = $(".page-show-bg");
        $canvas.css("width","100%");
        $canvas.css("height","auto");

        var $gradient = $(".gradient");
        $gradient.css("width","100%");
        $gradient.css("height","100%");

        var $a = $(event.currentTarget);
        var side = $a.attr("data-id");
        var action = $a.text();
        if (action == "hide"){
          $(".main-content").css("margin-" + side,0);
          $("." + side + "-sidebar").css("display","none");
          $a.text("show");
          $("body").addClass(side + "-hide");
        } else {
          var margin = (side == "right") ? 340 : 240;
          $(".main-content").css("margin-" + side,margin);
          $("." + side + "-sidebar").css("display","block");
          $a.text("hide");
          $("body").removeClass(side + "-hide");
        }

      });

      $(".accordion").accordion({//heightStyle: "fill"
        collapsible: false,
        fillSpace: true,
        active: (CURRENT_USER_ID) ? 0 : 1
      });
      $(".follows-area").css("padding",0)
      $(".session-form").css("padding",10)
      $(".new-user-form").css("padding",10)
      // $(".follow-area").draggable({
//         appendTo: "body",
//         helper: "clone"
//       });
      $(".sortable").sortable({
        update: function(event, ui){
          var $follows = $(".follows-area li")
          $follows.each(function(index, Element){
            var id = $(this).attr("data-id")*1;
            $.ajax({
              type:"PUT",
              url: "/follows/" + id,
              data: {sort_priority: index},
              success: function(resp){
                console.log("hello")
              }
            })
          });


        }
      });

    });
  </script>
</body>
</html>